<h1>Pagina speciala pentru admin</h1>
<form action="/adauga-produs" method="POST">
    Componenta: <input type="text" name="componenta">
    <br><br>
    Producator: <input type="text" name="producator">
    <br><br>
    Model: <input type="text" name="model">
    <br><br>
    Cantitate: <input type="text" name="cantitate">
    <br><br>
    Pret: <input type="text" name="pret">
    <br><br>
    <button type="submit">Adauga produs</button>
</form>