<!DOCTYPE html>
<html lang="ro">
<link rel='stylesheet' href='/public/stil.css'/>
<head>
    <meta charset="UTF-8">
    <title>Componente PC</title>
</head>
<body>
    <main>
      <%- body %>
    </main>
</body>
<footer>
  ©Sergiu Duminica, 1306A
</footer>
</html>